 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Industrial Engineer with more than 5 years of experience in R&D projects and techincal challenges. Interested in new technologies, I develop projects open projects using my data analysis and machine learning skills. </p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're looking to hire a data consultant, or need professional services using the latest technologies to extract intelligence from your company data, this is a great starting point! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://drive.google.com/open?id=0Bz57fPXcwnD8NXhlcGVIbVVnVWM" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download my CV!
                    </a>
                </div>
            </div>
        </div>
    </section>
